<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据导入</title>
    <script  src="/static/js/search.js"></script>
    <link rel="stylesheet" href="/static/css/input.css">
</head>
<body onload="selectIndex();">
     <h3>数据导入：</h3>
     <form action="/input" method="post">
         <label >Table:</label>
         <select name="table" name="table" id="typeId" onchange="saveSelectIndex();"  style="width: 120px; height: 20px;">
             <option value="job">job</option>
             <option value="borrow" selected>borrow</option>
             <option value="account">account</option>
             <option value="companyInfo">companyInfo</option>
             <option value="dailyInfo">dailyInfo</option>
             <option value="dairy" >dairy</option>
             <option value="rule">rule</option>
         </select><br><br>
         <label >Title:</label>
         <input type="text" name="title" style="width: 500px; height: 20px;"/><br>
         <label >Content:</label>
         <textarea id="TextArea1" name="content" cols="100" rows="10" style="background-color:white" ></textarea></br>
         <label >Remark:</label>
         <textarea id="TextArea2" name="remark" cols="100" rows="10" style="background-color:white" ></textarea></br>
        <input type="submit" value="提交" name="commit" id = "submit_button"/>
        <input type="reset" value="重置"  name="reset"  id = "reset_button"/>
         <a href="{{url_for('Help')}}">
                 <button type="button" >返回</button>
         </a>
      </form>
     <!--数据查询逻辑-->
     {% if flag %}
     <h3>导入结果:{{result.table}}</h3>
     <table id="mytable">
      <tr>
    <!--列名-->
      	<td  cope="col">标题</td>
        <td  cope="col">内容</td>
        <td  cope="col">备注</td>
        <td  cope="col">导入时间</td>
      </tr>
       <!--每列中的元素-->
         {% for data in result.data %}
        <c:forEach  items="${table}" var="student" >

       <tr>
      	<td class="row" >{{data.title}}</td>
        <td class="row" >{{data.content}}</td>
        <td class="row" >{{data.remark}}</td>
        <td class="row" >{{data.date}}</td>
      </tr>
        </c:forEach>
         {% endfor %}
    </table>
     {% endif %}
</body>
</html>